@use '../core/variables' as vars;

.logo{
  width: 600px;
  display: flex;
  
}
h1{
  font-family: vars.$font-main;
  font-weight: 400;
  font-size: 3.5rem;
  color: vars.$color-secondary;
  margin: 0;
  
}
h3 {
  font-family: vars.$font-secondary;
  font-size: 1.5rem;
 
}

.page__main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
 
  .page__main--text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    
  }  
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
  
  }
 
}

.mockups {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: 1rem;
}


  .button-style {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: vars.$color-primary;
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: vars.$font-secondary;
    width: 240px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 40px;
    cursor: pointer;
    &:hover {
      background-color: vars.$color-secondary-dark;
      color: white;
      width: 260px;
      height: 70px;
    }
    }
  
  
  // media queries
  @media screen and (max-width: 480px) {
    .logo {
      width: 450px;

    }
    .page__main {
      justify-content: flex-start;
    }
    .mockups {
      padding: 0;
      margin: 0;
    }
    h1, h3 {
      margin-left: 1rem;
      margin-right: 1rem;
    }
    h3 {
      font-size: 1.2rem;
    }
    }
  
 