@use '../core/variables' as vars;

.page__footer {
    
    width: 100vw;
    padding: 1rem;
    color: white;
    
    font-family: vars.$font-secondary;
    background-color:vars.$color-primary-dark;
    
    
}

.copy-footer {
    padding: 1rem;
}
