@use '../core/variables' as vars;

.form-checkbox {
    display: flex;
    flex-direction: column;
    
    margin: 4rem;
    .form-checkbox-title {
        color: vars.$color-secondary;
    }
}
label {
    font-family: vars.$font-secondary;
}

//color del checkbox
input[type="checkbox"] {
  accent-color: vars.$color-primary-dark;
  } 

  img {
    
  }
.background1 {
    width: 500px;
    
}


.form-checkbox_container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 2rem;
}

.background2 {
    background-image: url(/images/background-marco-vegetal.jpg);
}