@use '../core/variables' as vars;

html, body {
    height: 100%;
    margin: 0;
}
.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

body {
    margin: 0;
    padding: 0;
    
    background-image: url("/images/background-marco-vegetal.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    
    
    
    
}

