@use '../core/variables' as vars;

.page_form-index {
    display: flex;
    flex-direction: row;
    padding: 3rem;
    margin-left: 20rem;

}
.form-index_container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 40rem;  
}

#form_container-result h3 {
    color: vars.$color-primary-dark;
    font-family: vars.$font-main;
    text-align: center;
    letter-spacing: 0.05em;
    text-shadow:
    -1px -1px 0 #ffffff,
     1px -1px 0 #ffffff,
    -1px  1px 0 #fffefe,
     1px  1px 0 #ffffff;

    
}
.card-preview {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
;
}
.form_container-result-preview  {
    display: flex;
    position: relative;
    border: none;
    outline: none;
    background: transparent;
    padding: 0.5rem;
}
.form_container-result-preview::before,
.form_container-result-preview::after {
  content: none;
}

.form_container-result-list {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0.5rem;
}

.absolute {
    position: absolute;
    top: 20%;
    
}


.page_card-preview {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1rem
   }

.background1 {
    width: 600px;
    
}

.button-style--reset {
    width: 180px;
    height: 50px;
    background-color: vars.$color-primary-dark;
    color: vars.$color-primary;
     &:hover {
        width: 180px;
        height: 50px;
        background-color: vars.$color-primary;
        color:vars.$color-primary-dark; ;
    }
}

.blur {
   filter: blur(5px);
   
}

.style-preview {
    color: black;
    font-family: vars.$font-secondary;
    font-size: 1.2rem;
    letter-spacing: 0.05em;
    font-weight: 600;
    text-shadow:
        -1px -1px 1px rgba(255,255,255,0.7),
        1px -1px 1px rgba(255,255,255,0.7),
        -1px  1px 1px rgba(255,255,255,0.7),
        1px  1px 1px rgba(255,255,255,0.7);
   

}

.style-preview-photo {
    border: 8px solid #e0ff78;
    
}

.liPhoto{
    
    width: 180px;       
    height: 240px;
    overflow: hidden;
    
    #form_container-result-photo {
        width: 100%;       
        height: 100%;
        object-fit: cover;
    }
}


