@use '../core/variables' as vars;



.form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80rem ;
    height: 80rem ;
    

}

.form_header {
    margin: 3rem;
    display: flex;
    flex-direction: row;
    gap: 1rem;
    .icon-size {
        width: 80px;
    }
}

.form_header h1 {
    color: black;
    margin-top: 0.5rem;
    font-family: vars.$font-main;
    font-weight: 400
    
    
    
}

.form_container {
    display: flex;
    flex-direction: column;
    margin-left: 40rem;
    
    
    
}



.form_container-sign-field {
    display: flex;
    flex-direction: column;
    width: 480px;
    gap: 0.2rem;
    
}

.form_container-sign-field label {
    
    font-family: vars.$font-secondary;
    margin-top: 0.5rem;
}

.campo {
    border-color: vars.$color-secondary;
    border-radius: 2rem;
    border-style: solid;
    border-width: 0.2rem;
    padding: 0.3rem;
    background-color: #FAEBD7;
}

#form_container-result {
    list-style-type: none;
    width: 19rem;
    height: 25rem;
}

#form_container-result h3 {
    color: vars.$color-secondary;
    font-family: vars.$font-main;
    text-align: center;
    
}
#form_container-result li {
    margin-top: 3rem;
    color: black;
    text-align: center;
    margin-bottom: 2rem;
    font-weight: bold;
    
}

input::placeholder {
    font-family: vars.$font-secondary;
}
//MEDIA QUERIES


@media (min-width: 768px) {

    

    .form_container {
        flex-direction: row;
    }

    .form_container-sign {
        width: 768px;
        
        
        
    }

    .form_container-sign-field {
        flex-direction: row;
    }

   #form_container-result {
    list-style-type: none;

  
   }
    
}

@media (min-width: 1024px) {
    

    .form_container {
        flex-direction: row;
        gap: 1rem
        
    }

    .form_container-sign {
        width: 768px;
    }

    .form_container-sign-field {
        flex-direction: row;
        padding: 1rem;
        
    }

    #form_container-result {
        height: 10rem;
        width: 30rem;
        height: auto;
        margin: 2rem;
    }

    .form {
  
    width: 80rem ;
    height: 39rem;
    }
}




/* PANEL */
.panel {
  width: 80rem;
  margin-left: 17rem;
  margin-top: -5rem;
}

/* HEADER */
.panel-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.title {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: black;
  margin-top: 0.5rem;
  font-family: vars.$font-main;
  font-weight: 400;
  font-size: 1.25rem;
}

/* ICONO */
.panel-icon {
  width: 45px;
  height: 45px;
  object-fit: contain;
  
}

/* ARROW */
.arrow {
  width: 14px;
  height: 14px;
  border-right: 3px solid vars.$color-secondary;
  border-bottom: 3px solid vars.$color-secondary;
  transform: rotate(-135deg);
  margin-left: 10px;
  transition: transform 0.35s ease;
}

.panel.open .arrow {
  transform: rotate(45deg);
}




