<div class="card-preview">

    <ul id="form_container-result" class="absolute">
                <h3 class="fixed">Datos de información</h3>
                <div class="form_container-result-preview">
                    <div class="form_container-result-list style-preview" >
                        <li id="form_container-result-name" class="style-preview"></li>
                        <li id="form_container-result-proposal" class="style-preview"></li>
                        <li id="form_container-result-city" class="style-preview"></li>
                        <li id="form_container-result-phone" class="style-preview"></li>
                        <li id="form_container-result-mail" class="style-preview"></li>
                    </div>
                    <li class="liPhoto">
                        <img id="form_container-result-photo">
                    </li>
                </div>
    </ul>

    
    <div class="page_card-preview">
        <div class=".blur"></div>
        <img src='/images/Background-example.png' 
        alt="Fondo tarjeta resultado" 
        class="backgroundImage background1 style-preview-photo">

        <button class="button-style button-style--reset" id="button_reset">RESET</button>
    </div>

</div>