<div class="card-preview">

    <ul id="form_container-result" class="absolute">
                    <h3>¿TE GUSTA COCINAR?</h3>
                <div class="form_container-result-list">
                    <li id="form_container-result-name"></li>
                    <li id="form_container-result-proposal"></li>
                    <li>
                        <img id="form_container-result-photo">
                    </li>
                    <li id="form_container-result-city"></li>
                    <li id="form_container-result-phone"></li>
                    <li id="form_container-result-mail"></li>
                </div>
    </ul>

    <div class="page_card-preview">
        <img src='/images/photo-cupcake-original.png' alt="Fondo tarjeta resultado" class="backgroundImage background1">

        <button class="button-style" id="button_reset">RESET</button>
    </div>

</div>