<div class="form-checkbox_container"> 
    <div class="form-checkbox">
        <h3 class="form-checkbox-title">Elige tu propuesta de plato</h3>
        <div >
        <label for="option1">
            <input
            id="input-option1"
            type="checkbox"
            />
            Entrante
        </label>
        </div>

        <div>
        <label for="option2">
            <input
            id="input-option2"
            type="checkbox"
            />
            Plato principal
        </label>
        </div>
        <div>
        <label for="option3">
            <input
            id="input-option3"
            type="checkbox"
            />
            Postre
        </label>
        </div>
    </div>

    <img src="/images/Background-dibus.png" alt="Fondo tarjeta resultado" class="background1">


    
</div>