<div class="page_form-checkbox"> 

    <div class="form-checkbox">

        <div class="form-checkbox_titleAndIcon">
            <img src="/images/001-cocinando.png" class="panel-icon" alt="Icono ingredientes">
            <h3 class="form-checkbox_title">Elige tu propuesta de plato</h3>
        </div>

        <div class="form-checkbox_labels">
            <div>
                <label for="option1">
                    <input
                    id="input-option1"
                    type="radio"
                    name="option"
                    />
                    Entrante
                </label>
            </div>

            <div>
                <label for="option2">
                    <input
                    id="input-option2"
                    type="radio"
                    name="option"
                    />
                    Plato principal
                </label>
            </div>
            <div>
                <label for="option3">
                    <input
                    id="input-option3"
                    type="radio" 
                    name="option"
                    />
                    Postre
                </label>
            </div>

        </div>

    </div>

    
    
</div>